<h1>Languages</h1>

<%= form_tag languages_path, method: :get do %>
<p>
<%= text_field_tag 'q', @query, placeholder: "Search for a language" %>
<%= submit_tag "Search", name: nil %>
</p>
<% end %>

<ul>
<% @languages.each do |language| %>
  <li><%= link_to language.inverted_name, language.wikipedia_link %>
<small>(<%= link_to 'SIL', language.ethnologue_link %>)
(<%= link_to 'wiki', language.htlal_wiki_link %>)</small></li>
<% end %>
</ul>

<p class="sil-credit">This database is based on
the <a href="http://www.sil.org/iso639-3/">SIL language codes</a>.<p>

