<h1><%= t(:languages) %></h1>

<%= form_tag languages_path, method: :get do %>
<p>
<%= text_field_tag 'q', @query, placeholder: t(:search_languages) %>
<%= submit_tag t(:search), name: nil %>
</p>
<% end %>

<ul>
<% @languages.each do |language| %>
  <li><%= link_to language.inverted_name, language.wikipedia_url %>
<span class="language-links">
(<%= link_to t(:sil), language.ethnologue_url %>)
<% if language.htlal_profile_url %>
(<%= link_to t(:htlal_profile), language.htlal_profile_url %>)
<% end %>
<% if language.htlal_users_url %>
(<%= link_to t(:htlal_users), language.htlal_users_url %>)
<% end %>
<% if language.htlal_threads_url %>
(<%= link_to t(:htlal_threads), language.htlal_threads_url %>)
<% end %>
(<%= link_to t(:wiki), language.htlal_wiki_url %>)
(<%= link_to t(:maps), language.llmap_url %>)
</span></li>
<% end %>
</ul>

<p class="sil-credit"><%= t(:sil_credit).html_safe %><p>
