<!DOCTYPE html>
<html>
<head>
  <title>langforums</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <% if user_signed_in? %>
      <%= link_to current_user.email, main_app.edit_user_registration_path %>
      | <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
      <% if current_user.forem_admin %>
      | <%= link_to "Administrate", forem.admin_root_url %>
      <% end %>
    <% else %>
      <%= link_to "Sign up", main_app.new_user_registration_path %>
      | <%= link_to "Sign in", main_app.new_user_session_path %>
    <% end %>
  </nav>
</header>

<p><i>Our much-beloved HTLAL site is having problems.  Julie has set up
some <a href="http://htlal.freeforums.org">temporary forums</a>. But I've
been working on a longer-term project to make new features available to the
HTLAL community, of which this site is a prototype.  See the posts here for
more details. You're welcome to sign up and try it out!  <b>-emk</b> (a HTLAL
user)</i></p>

<p><%= link_to "#{Language.count} languages", main_app.languages_path %><br>
<b>Recent users:</b> <%= User.recent.map(&:public_name).join(', ') %>
</p>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
