<!DOCTYPE html>
<html>
<head>
  <title>langforums</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <% if user_signed_in? %>
      <%= link_to current_user.email, main_app.edit_user_registration_path %>
      | <%= link_to t('layouts.sign_out'), main_app.destroy_user_session_path, :method => :delete %>
      <% if current_user.forem_admin %>
      | <%= link_to t('area', :scope => 'forem.admin'), forem.admin_root_url %>
      <% end %>
    <% else %>
      <%= link_to t('layouts.sign_up'), main_app.new_user_registration_path %>
      | <%= link_to t('layouts.sign_in'), main_app.new_user_session_path %>
    <% end %>
  </nav>
</header>

<!-- Not translated because it changes too often. -->
<div class="site-note">
<p><i>This site doesn't actually contain any forums.  You can find those
over on
<a href="how-to-learn-any-language.com">How-To-Learn-Any-Language.com</a>.
Instead, this site provides experimental features for HTLAL
users. <b>-emk</b> (a HTLAL user)</i></p>

<p><b>HTLAL is down!</b> See <a href="http://htlal.freeforums.org/">the
backup forum</a>.</p>
</div>

<p>
<%= link_to t('layouts.language_count', count: Language.count), main_app.languages_path %>
| <%= link_to t('layouts.report_bug'), '/f/forums/bug-reports' %>
| <%= link_to t('layouts.htlal_forums'), htlal_forum_url %>
| <%= link_to t('layouts.source_code'), langforums_github_url %>
| <%= link_to t('layouts.translate'), 'http://www.localeapp.com/projects/1531' %>
<% if current_user %>
<br><b><%= t('layouts.recent_users') %></b>
<%= User.recent.map(&:public_name).join(', ') %>
<% end %>
</p>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
